:root {
    --logo-size: 2em;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: var(--logo-size);
    pointer-events: none;
  }
  
  .App-header {
    font-size: calc(10px + 2vmin);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .logo-title {
    font-family: 'Patrick Hand';
    color: #282c34;
    font-size: var(--logo-size);
    --shadow-size: 2px;
    --shadow-size2x: calc(var(--shadow-size) * 2);
    text-shadow: var(--shadow-size) var(--shadow-size) var(--secondary), var(--shadow-size2x) var(--shadow-size2x) var(--tertiary);
    margin-bottom: var(--shadow-size2x);
  }
  
  .padding-side {
    padding-left: 13%;
    padding-right: 13%;
  }
  
  .fullpage{
    height: 100vh;
  }