.background {

    $left-start-at: 930px;
    $right-start-at: 660px;
    $width: 10vw;
    $bar-height: 40px;
    $margin: 10px;

    @mixin skew {
        transform: skewY(-11deg);
    }

    @mixin topPosLeft($index) {
        top: calc((($bar-height + $margin) * $index));
    }

    @mixin topPosRight($index) {
        top: calc((($bar-height + $margin) * $index));
    }

    z-index: -1;
    position: absolute;
    inset: -410px 0 0;


    * {
        position: absolute;
    }

    .left {
        bottom: 143px;
    }

    .right {
        top: 413px;
        right: 0;
    }

    .lefttop {
        height: $bar-height;
        background-color: var(--primary);
        @include topPosLeft(0);
        @include skew();
        width: $width;
    }

    .leftmiddle {
        height: $bar-height;
        background-color: var(--secondary);
        @include topPosLeft(1);
        @include skew();
        width: $width;
    }

    .leftbottom {
        height: $bar-height;
        background-color: var(--tertiary);
        @include topPosLeft(2);
        @include skew();
        width: $width;
    }

    .righttop {
        height: $bar-height;
        background-color: var(--primary);
        @include topPosRight(0);
        @include skew();
        right: 0;
        width: $width;
    }

    .rightmiddle {
        height: $bar-height;
        background-color: var(--secondary);
        @include topPosRight(1);
        @include skew();
        right: 0;
        width: $width;
    }

    .rightbottom {
        height: $bar-height;
        background-color: var(--tertiary);
        @include topPosRight(2);
        @include skew();
        right: 0;
        width: $width;
    }

}